{% extends 'auth/layoutSesion.html' %}

{% block sesion %}
<h1 class="nombre-pagina">Olvide mi password</h1>
<p class="descripcion-pagina">Restablece tu password escribiendo tu email</p>
<form class="formulario" method="POST" action="/olvide/">
    {% csrf_token %}
    {% if error %}
    <div class="errores">
        <h4>{{error}}</h4>
    </div>
    {% elif msg %}
    <div class="success">
        <h4>{{msg}}</h4>
    </div>
    {% endif %}
    <div class="campo">
        <label for="email">Email</label>
        <input
            type="email"
            id="email"
            placeholder="Tu Email"
            name="email"
        />
    </div>
    <input type="submit" class="boton" value="Enviar E-mail">
</form>
<div class="acciones">
    <a href="/crear/">¿Aún no tienes una cuenta ? Crear una</a>
{% endblock %}